﻿.floatLeft {
    float:left;
}
.floatRigth {
    float:right;
}

#mainPanel {
    padding:20px;
}
#searchPanel {
    padding:20px;
}
.formTitle {
    font-size:26px;
    font-family:arial;
    margin-bottom:20px;
}

.searchWrapper {
    float:left;
}
.editingWrapper {
    float:right;
}
.searchToolbarWrapper {
    margin-bottom:20px;
    width:100%;
    clear:both;
}

.clearfix:after { 
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden; 
}

/**
    Form Item
*/
#purchaseMeasurement {
    float:left;
}
#purchaseMeasurement {
    float:left;
}
#selectDeleteBox {
    float:left;
    margin:70px 30px 0px 30px;
}
#selectPurchaseMeasurement,#deletePurchaseMeasurement {
    float:left;
    clear:both;
    margin-bottom:10px;
}

.inputDecimal {
    text-align: right;
    width:60px;
}

/**
    Form Item End
*/

.modalContent {
    padding: 20px 15px;
}
#purchaseMeasurementList {
    width:370px;
    margin:10px 0px;
}
.modalButton {
    float:right;
    margin-left:10px;
}