﻿@using AIS.Backend.Web.Helper;
@using AIS.Backend.Model;
@using AIS.Backend.Web.Controllers.KnockoutBuilder;
@using AIS.Backend.Web.Controllers;

@{
    ViewBag.Title = "Create Employee";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@model AIS.Backend.Model.Employee


@section PageTitle
{
    Create Employee
}

@{
    List<Department> departments = ViewBag.departments;
    List<KnockoutInput> componentList = new List<KnockoutInput>();

    KnockoutInput nameInput = new KnockoutInput() { Caption = "Name", Binding = "name", Type = KnockoutType.TEXT, Value = "", ValidationSetting = "{required:true}" };
    KnockoutInput usernameInput = new KnockoutInput() { Caption = "Username", Binding = "username", Type = KnockoutType.TEXT, Value = "", ValidationSetting = "{required:true}" };
    KnockoutInput passwordInput = new KnockoutInput() { Caption = "Password", Binding = "password", Type = KnockoutType.TEXT, Value = "", ValidationSetting = "{required:true}" };
    KnockoutInput departmentInput = new KnockoutInput() { Caption = "Department", Binding = "department", Type = KnockoutType.DROPDOWN, Value = "", ValidationSetting = "{required:true}" };
    KnockoutInput mobileInput = new KnockoutInput() { Caption = "Mobile", Binding = "mobile", Type = KnockoutType.TEXT, DecimalValue = 0 };
    KnockoutInput emailInput = new KnockoutInput() { Caption = "Email", Binding = "email", Type = KnockoutType.NUMBER_TEXT, Value = "" };

}
<form id="formCreateMeasurement" class="form-horizontal">
    @FormHelper.InputTextHelper(nameInput)
    @FormHelper.InputTextHelper(usernameInput)
    @FormHelper.InputTextHelper(passwordInput)
    @FormHelper.DropdownHelper(departmentInput)
    @FormHelper.InputTextHelper(mobileInput)
    @FormHelper.InputTextHelper(emailInput)
    @FormHelper.SubmitHelper("self.submit")
</form>

<script>
    $(document).ready(function () {
        ko.validation.rules.pattern.message = 'Invalid.';
        ko.validation.init(knockoutValidationConfig, true);

        // View Model
        var viewModel = function () {
            self = this;
            @FormHelper.InputTextScript(nameInput)
            @FormHelper.InputTextScript(usernameInput)
            @FormHelper.InputTextScript(passwordInput)
            @FormHelper.InputTextScript(mobileInput)
            @FormHelper.InputTextScript(emailInput)
            @Html.Raw(FormHelper.DropdownScript(departmentInput, FormHelper.ConvertToDropdownValueList(departments)))

            self.submit = function () {
                var isValid = viewModel.errors().length === 0;

                if (isValid) {
                    var employee = {};
                    employee.Name = self.name();
                    employee.Username = self.username();
                    employee.Password = self.password();
                    var department = {};
                    department.Id = self.department()[self.departmentSelectedIndex()].Value;
                    employee.Department = department;
                    employee.Mobile = self.mobile();
                    employee.Email = self.email();

                    saveAjax(baseUrl, "/api/employee/create", employee, "/Employee");
                }
                else {
                    viewModel.errors.showAllMessages();
                }
            }
        };

        var viewModelObj = new viewModel();
        viewModel.errors = ko.validation.group(viewModelObj);
        ko.applyBindings(viewModelObj);
    });

</script>

