.orderReceivedDetailsWrapper {
    margin-top:20px;
    font-size:12px;
    color:#51597A;
}
    .orderReceivedDetailsWrapper .detailsWrapper {
        border:1px #DBDBDE solid;
        border-bottom:none;
        background-color:#F6F6F6;
        padding:2px 10px;
        line-height:24px;
    }

    table {
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid #DBDBDE;
        line-height:24px;
    }
    td, th {
        padding:2px 10px;
        line-height:24px;
    }

    th {
        background-color:#F6F6F6;
    }
    .orderReceivedDetailsWrapper table {
        width:100%;
    }
    .orderReceivedDetailsWrapper .k-button {
        padding-top:0px;
        height:22px;
        line-height:22px;
    }
    .orderReceivedDetailsWrapper .newReceivedBtn {
        float:right;
    }