﻿@using AIS.Backend.Web.Helper;
@using AIS.Backend.Model;
@using AIS.Backend.Web.Controllers.KnockoutBuilder;
@using AIS.Backend.Web.Controllers;

@{
    ViewBag.Title = "Lorem";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@model AIS.Backend.Model.Measurement

@section JavaScript
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/FormHelper.js")"></script>
}

@section PageTitle
{
    Lorem
}

@{
    KnockoutInput searchButton = new KnockoutInput() { Caption = "Search", Binding = "search", Type = KnockoutType.BUTTON, Value = "" };
    
    KnockoutInput addButton = new KnockoutInput() { Caption = "Add", Binding = "add", Type = KnockoutType.BUTTON, Value = "" };
    KnockoutInput editButton = new KnockoutInput() { Caption = "Edit", Binding = "edit", Type = KnockoutType.BUTTON, Value = "" };
    KnockoutInput deleteButton = new KnockoutInput() { Caption = "Delete", Binding = "deleteItem", Type = KnockoutType.BUTTON, Value = "" };
}

<div class="row">
    <div class="searchWrapper col-sm-12">
        <input type="text"
               data-bind="jqxInput: {height: textInputHeight, value: name}" />
        @FormHelper.ButtonHelper(searchButton)
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div id="jqxgrid"></div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="editingWrapper">
            @FormHelper.ButtonHelper(addButton)
            @FormHelper.ButtonHelper(editButton)
            @FormHelper.ButtonHelper(deleteButton)
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        var search = $("#search").val();

        var param = {}
        if (search != "") param.name = search;
        
        function gridInit() {
            var source =
            {
                data: param,
                datatype: "json",
                datafields: [
                     { name: 'Id' },
                     { name: 'Name' },
                     { name: 'ShortName' },
                     { name: 'Type' },
                     { name: 'TypeName' },
                     { name: 'Unit' }
                ],
                url: baseUrl + "/api/measurement/search",
                root: 'Items',
                pagenum: 0,
                pagesize: defaultGridSize,
                beforeprocessing: function (data) {
                    source.totalrecords = data.Total;
                }
            };

            var dataAdapter = new $.jqx.dataAdapter(source);

            $("#jqxgrid").jqxGrid(
            {
                source: dataAdapter,
                width: '100%',
                autoheight: true,
                selectionmode: 'singlerow',
                pageable: true,
                virtualmode: true,
                rendergridrows: function () {
                    var records = dataAdapter.records;
                    var length = records.length;
                    for (var i = 0; i < length; i++) {
                        dataAdapter.records[i].TypeName = MeasurementTypeName(dataAdapter.records[i].Type);
                    }
                    return dataAdapter.records;
                },
                columns: [
                    { text: 'Name', datafield: 'Name' },
                    { text: 'Short Name', datafield: 'ShortName' },
                    { text: 'Type', datafield: 'TypeName' },
                    { text: 'Unit', datafield: 'Unit' }
                ]
            });
        };

        gridInit();

        var viewModel = new genericGridModel("Measurement", gridInit);
        viewModel.name = ko.observable("");
        viewModel.search = function () {
            param.name = this.name;
            gridInit();
        };

        ko.applyBindings(viewModel);

    });
</script>
