/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: HelveticaNeue;
    src: url("../font/HelveticaNeueLTPro-Md.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: HelveticaNeue, sans-serif;
    background: url(../images/content-bg.png) left repeat-y #ffffff;
    /*background-color: #ffffff;*/
}

.clear { clear: both; }

/*==================================================
 * Bottom Shadow
 * ===============================================*/
.bottomShadow
{
    box-shadow: 0px 4px 10px 0px #999;
}

#header {
    background: #2f77b1;
    padding: 15px 0 15px 15px;
    color:#ffffff;
    box-shadow: 0px 4px 10px 0px #bbb;
}

#content {
    padding: 15px 30px 0 0;
    color:#2f77b1;
}
#main-content {
    margin-left: 400px;
    max-width: 850px;
}

#sidebar {
    width: 385px;
    float: left;
}
#sidebar ul {
    list-style: inside;
}
.sidebarContent {
    padding: 15px 15px 0 15px;
}

.verticalFormList {
    margin: 0 0 -2em;
}

.verticalFormList li {
    list-style: none;
    padding-bottom: 1em;
}

.verticalFormList label {
    display: block;
    padding-bottom: 1em;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.7em;
    color: #444;
}
.verticalFormList label.checkboxRadioLabel {
    display: inline-block;
    padding-bottom: 0em;
    font-size: 0.5em;
    margin-right:10px;
}
.verticalFormList .k-button {
    font-size:16px;
}
.verticalFormList .submit {
    float:right;
}
.verticalFormList .cancel {
    float:right;
    margin-right:10px;
}
.verticalFormList .fullwidthInput {
    width:100%;
}
.k-grid {
    font-size: 12px;
}

.operationList {
    margin-top:-15px;
}

.operationList li {
    list-style:none;
    float:left;
    text-align:center;
}
.operationList li a {
    display:inline-block;
    color:#ffffff;
    text-decoration:none;
    width:75px;
    height:60px;
    line-height:60px;
    background-color:#707070;
    border-left:1px #b3b3b3 solid;
    border-right:1px #5d5d5d solid;
    color:#ffffff;
    text-align:center;
}

.pageTitle {
    height:60px;
    font-size:36px;
}	