﻿@using AIS.Backend.Web.Helper;
@using AIS.Backend.Model;
@using AIS.Backend.Web.Controllers.KnockoutBuilder;
@using AIS.Backend.Web.Controllers;

@{
    ViewBag.Title = "Item";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@model AIS.Backend.Model.Item

@section PageTitle
{
    Item
}

@{
    KnockoutInput searchButton = new KnockoutInput() { Caption = "Search", Binding = "search", Type = KnockoutType.BUTTON, Value = "" };

    KnockoutInput addButton = new KnockoutInput() { Caption = "Add", Binding = "add", Type = KnockoutType.BUTTON, Value = "" };
    KnockoutInput editButton = new KnockoutInput() { Caption = "Edit", Binding = "edit", Type = KnockoutType.BUTTON, Value = "" };
    KnockoutInput deleteButton = new KnockoutInput() { Caption = "Delete", Binding = "deleteItem", Type = KnockoutType.BUTTON, Value = "" };
}

<div class="row">
    <div class="searchWrapper col-sm-12">
        <input type="text"
               data-bind="jqxInput: {height: textInputHeight, value: name}" />
        @FormHelper.ButtonHelper(searchButton)
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div id="jqxgrid"></div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="editingWrapper">
            @FormHelper.ButtonHelper(addButton)
            @FormHelper.ButtonHelper(editButton)
            @FormHelper.ButtonHelper(deleteButton)
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        var search = $("#search").val();

        var param = {}
        if (search != "") param.name = search;

        function gridInit() {
            var source =
            {
                data: param,
                datatype: "json",
                datafields: [
                     { name: 'Id' },
                     { name: 'Name' },
                     { name: 'ItemType' },
                     { name: 'TypeName' },
                     { name: 'PurchaseMeasurementList' },
                     { name: 'PurchaseName' },
                     { name: 'Category', map: 'Category>Name' },
                     { name: 'StockMeasurement', map: 'StockMeasurement>Name' },
                     { name: 'CalculationMeasurement', map: 'CalculationMeasurement>Name' },
                     { name: 'IsActive' }
                ],
                url: baseUrl + "/api/item/search",
                root: 'Items',
                pagenum: 0,
                pagesize: defaultGridSize,
                beforeprocessing: function (data) {
                    source.totalrecords = data.Total;
                }
            };

            var dataAdapter = new $.jqx.dataAdapter(source);

            $("#jqxgrid").jqxGrid(
            {
                source: dataAdapter,
                width: '100%',
                autoheight: true,
                selectionmode: 'singlerow',
                toolbarheight: 100,
                pageable: true,
                virtualmode: true,
                columnsresize: true,
                rendergridrows: function () {
                    var records = dataAdapter.records;

                    var length = records.length;
                    for (var i = 0; i < length; i++) {
                        dataAdapter.records[i].TypeName = ItemTypeName(dataAdapter.records[i].ItemType);
                        var listPurchaseMeasurement = dataAdapter.records[i].PurchaseMeasurementList;
                        var PurchaseName = "";
                        if (listPurchaseMeasurement != null)
                        {
                            for (var j = 0; j < listPurchaseMeasurement.length; j++)
                            {
                                if (j > 0) PurchaseName += ", ";
                                PurchaseName += listPurchaseMeasurement[j].Name;
                            }
                        }

                        dataAdapter.records[i].PurchaseName = PurchaseName;
                    }

                    return dataAdapter.records;
                },
                columns: [
                    { text: 'Name', datafield: 'Name', width:150 },
                    { text: 'Type', datafield: 'TypeName', width: 100 },
                    { text: 'Category', datafield: 'Category', width: 100 },
                    { text: 'Stock Measurement', datafield: 'StockMeasurement', width: 150 },
                    { text: 'Calculation Measurement', datafield: 'CalculationMeasurement', width: 150 },
                    { text: 'Purchase Measurement', datafield: 'PurchaseName', width: 150 },
                    { text: 'Is Active', datafield: 'IsActive' }
                ]
            });
        };

        gridInit();

        var viewModel = new genericGridModel("Item", gridInit);
        viewModel.name = ko.observable("");
        viewModel.search = function () {
            param.name = this.name;
            gridInit();
        };

        ko.applyBindings(viewModel);

    });
</script>
