﻿@using AIS.Backend.Web.Helper;
@using AIS.Backend.Model;
@using AIS.Backend.Web.Controllers.KnockoutBuilder;
@using AIS.Backend.Web.Controllers;

@{
    ViewBag.Title = "Update Item";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@model AIS.Backend.Model.Item


@section PageTitle
{
    Update Item
}

@{
    List<ItemCategory> categories = ViewBag.categories;
    List<Measurement> stockMeasurementItems = ViewBag.stockMeasurementItems;
    List<Measurement> calculationMeasurementItems = ViewBag.calculationMeasurementItems;
    List<Measurement> existPurchaseMeasurementItems = ViewBag.purchaseMeasurementItems;
    List<Measurement> purchaseMeasurementItems = Model.PurchaseMeasurementList != null ? Model.PurchaseMeasurementList.ToList() : null; 

    List<KnockoutInput> componentList = new List<KnockoutInput>();

    String categoryId = Model.Category!=null ? Model.Category.Id.ToString() : null;
    String stockMeasurementId = Model.StockMeasurement != null ? Model.StockMeasurement.Id.ToString() : null;
    String calculationMeasurementId = Model.CalculationMeasurement != null ? Model.CalculationMeasurement.Id.ToString() : null;

    KnockoutInput nameInput = new KnockoutInput() { Caption = "Name", Binding = "name", Type = KnockoutType.TEXT, Value = Model.Name, ValidationSetting = "{required:true}" };
    KnockoutInput descriptionInput = new KnockoutInput() { Caption = "Description", Binding = "description", Type = KnockoutType.TEXT, Value = Model.ItemDescription };
    KnockoutInput priceInput = new KnockoutInput() { Caption = "Price", Binding = "price", Type = KnockoutType.NUMBER_TEXT, DecimalValue = Model.ItemPrice, ValidationSetting = "{required:true}" };
    KnockoutInput categoryInput = new KnockoutInput() { Caption = "Category", Binding = "category", Type = KnockoutType.DROPDOWN, Value = categoryId, ValidationSetting = "{required:true}" };
    KnockoutInput typeInput = new KnockoutInput() { Caption = "Type", Binding = "type", Type = KnockoutType.DROPDOWN, Value = Model.ItemType.ToString(), ValidationSetting = "{required:true}" };
    KnockoutInput stockMeasurementInput = new KnockoutInput() { Caption = "Stock Measurement", Binding = "stockMeasurement", Type = KnockoutType.DROPDOWN, Value = stockMeasurementId, ValidationSetting = "{required:true}" };
    KnockoutInput calculationMeasurementInput = new KnockoutInput() { Caption = "Calculation Measurement", Binding = "calculationMeasurement", Type = KnockoutType.DROPDOWN, Value = calculationMeasurementId, ValidationSetting = "{required:true}" };
    KnockoutInput existPurchaseMeasurementInput = new KnockoutInput() { Caption = "Purchase Measurement", Binding = "existPurchaseMeasurement", Type = KnockoutType.LISTBOX, Value = "" };
    KnockoutInput purchaseMeasurementInput = new KnockoutInput() { Caption = "Purchase Measurement", Binding = "purchaseMeasurement", Type = KnockoutType.LISTBOX, Value = "" };

    KnockoutInput showPurchaseMeasurementButton = new KnockoutInput() { Caption = "Add Measurement", Binding = "showPurchaseModal", Type = KnockoutType.BUTTON };
    KnockoutInput removePurchaseButton = new KnockoutInput() { Caption = "Remove Measurement", Binding = "removeMeasurement", Type = KnockoutType.BUTTON };

    KnockoutInput addPurchaseMeasurementButton = new KnockoutInput() { Caption = "Add", Binding = "addMeasurement", Type = KnockoutType.BUTTON, ClassName = "btn btn-primary" };

    List<KnockoutInput> isActiveInputList = new List<KnockoutInput>();
    isActiveInputList.Add(new KnockoutInput() { Caption = "Is Active", Binding = "IsActive", Type = KnockoutType.CHECKBOX, BooleanValue = Model.IsActive });
}
<form id="formCreateMeasurement" class="form-horizontal">
    @FormHelper.InputTextHelper(nameInput)
    @FormHelper.InputTextHelper(descriptionInput)
    @FormHelper.InputNumberHelper(priceInput)
    @FormHelper.DropdownHelper(categoryInput)
    @FormHelper.DropdownHelper(typeInput)
    @FormHelper.DropdownHelper(stockMeasurementInput)
    @FormHelper.DropdownHelper(calculationMeasurementInput)
    @FormHelper.ListBoxHelper(purchaseMeasurementInput)
    <div class="form-group">
        <label class="col-sm-3 control-label">&nbsp;</label>
        <div class="col-sm-9">
            @FormHelper.ButtonHelper(showPurchaseMeasurementButton)
            @FormHelper.ButtonHelper(removePurchaseButton)
        </div>
    </div>
    @FormHelper.CheckboxHelper("Is Active", isActiveInputList)
    @FormHelper.SubmitHelper("self.submit")
</form>

<div id="existPurchaseMeasurements" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Select Purchase Measurement To Add</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    @FormHelper.ListBoxHelper(existPurchaseMeasurementInput)
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bind="click: addMeasurement,jqxButton: {}">Add</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $(document).ready(function () {
        ko.validation.rules.pattern.message = 'Invalid.';
        ko.validation.init(knockoutValidationConfig, true);

        $('#existPurchaseMeasurements').modal({ show: false });

        // View Model
        var viewModel = function () {
            self = this;
            @FormHelper.InputTextScript(nameInput)
            @FormHelper.InputTextScript(descriptionInput)
            @FormHelper.InputNumberScript(priceInput)
            @Html.Raw(FormHelper.DropdownScript(categoryInput, FormHelper.ConvertToDropdownValueList(categories)))
            @Html.Raw(FormHelper.DropdownScript(typeInput, ControllerHelper.GetItemTypeList()))
            @Html.Raw(FormHelper.DropdownScript(stockMeasurementInput, FormHelper.ConvertToDropdownValueList(stockMeasurementItems)))
            @Html.Raw(FormHelper.DropdownScript(calculationMeasurementInput, FormHelper.ConvertToDropdownValueList(calculationMeasurementItems)))
            @Html.Raw(FormHelper.DropdownScript(purchaseMeasurementInput, FormHelper.ConvertToDropdownValueList(purchaseMeasurementItems)))
            @Html.Raw(FormHelper.DropdownScript(existPurchaseMeasurementInput, FormHelper.ConvertToDropdownValueList(existPurchaseMeasurementItems)))
            @FormHelper.CheckboxScript(isActiveInputList)

            self.showPurchaseModal = function () {
                $('#existPurchaseMeasurements').modal('show');
            }

            self.removeMeasurement = function () {

            }

            self.addMeasurement = function () {
                var selectedIndex = self.existPurchaseMeasurementSelectedIndex();
                if (selectedIndex != null) {
                    var selectedItem = self.existPurchaseMeasurement()[selectedIndex];
                    if (self.purchaseMeasurement.indexOf(selectedItem) === -1) {
                        self.purchaseMeasurement.push(selectedItem);
                    }
                }
                $('#existPurchaseMeasurements').modal('hide');
            }

            self.submit = function () {
                var isValid = viewModel.errors().length === 0;

                if (isValid) {
                    var item = {};
                    item.Id = @Model.Id;
                    item.Name = self.name();
                    item.ItemDescription = self.description();
                    item.ItemPrice = self.price();

                    var category = {};
                    category.Id = self.category()[self.categorySelectedIndex()].Value;
                    item.Category = category;

                    item.ItemType = self.type()[self.typeSelectedIndex()].Value;

                    var stockMeasurement = {};
                    stockMeasurement.Id = self.stockMeasurement()[self.stockMeasurementSelectedIndex()].Value;
                    item.StockMeasurement = stockMeasurement;

                    var calculationMeasurement = {};
                    calculationMeasurement.Id = self.calculationMeasurement()[self.calculationMeasurementSelectedIndex()].Value;
                    item.CalculationMeasurement = calculationMeasurement;

                    var purchaseMeasurementList = [];
                    for (var i = 0; i < self.purchaseMeasurement().length; i++) {
                        var purchaseObject = {};
                        purchaseObject.Id = self.purchaseMeasurement()[i].Value;
                        purchaseMeasurementList[i] = purchaseObject;
                    }
                    item.PurchaseMeasurementList = purchaseMeasurementList;
                    item.IsActive = self.IsActive();
                    saveAjax(baseUrl, "/api/item/update", item, "/Item");
                }
                else {
                    viewModel.errors.showAllMessages();
                }
            }

        };

        var viewModelObj = new viewModel();
        viewModel.errors = ko.validation.group(viewModelObj);
        ko.applyBindings(viewModelObj);
    });

</script>

