﻿@using AIS.Backend.Web.Helper;
@using AIS.Backend.Model;
@using AIS.Backend.Web.Controllers.KnockoutBuilder;
@using AIS.Backend.Web.Controllers;

@{
    ViewBag.Title = "Create Measurement";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@model AIS.Backend.Model.Measurement


@section PageTitle
{
    Create Measurement
}

@{
    List<KnockoutInput> componentList = new List<KnockoutInput>();
    
    KnockoutInput nameInput = new KnockoutInput() { Caption = "Name", Binding = "name", Type = KnockoutType.TEXT, Value = "", ValidationSetting = "{required:true}" };
    KnockoutInput typeInput = new KnockoutInput() { Caption = "Type", Binding = "type", Type = KnockoutType.DROPDOWN, Value = "", ValidationSetting = "{required:true}" };
    KnockoutInput shortNameInput = new KnockoutInput() { Caption = "Short Name", Binding = "shortname", Type = KnockoutType.TEXT, DecimalValue = 0, ValidationSetting = "{required:true}" };
    KnockoutInput unitInput = new KnockoutInput() { Caption = "Unit", Binding = "unit", Type = KnockoutType.NUMBER_TEXT, Value = "" };
    KnockoutInput descriptionInput = new KnockoutInput() { Caption = "Description", Binding = "description", Type = KnockoutType.TEXT, Value = "" };

    List<KnockoutInput> isDecimalInputList = new List<KnockoutInput>();
    isDecimalInputList.Add(new KnockoutInput() { Caption = "Is Decimal", Binding = "IsDecimal", Type = KnockoutType.CHECKBOX, Value = "" });
}
<form id="formCreateMeasurement" class="form-horizontal">
    @FormHelper.InputTextHelper(nameInput)
    @FormHelper.InputTextHelper(shortNameInput)
    @FormHelper.DropdownHelper(typeInput)
    @FormHelper.InputNumberHelper(unitInput)
    @FormHelper.CheckboxHelper("Is Decimal", isDecimalInputList)
    @FormHelper.InputTextHelper(descriptionInput)
    @FormHelper.SubmitHelper("self.submit")
</form>

<script>
    $(document).ready(function () {
        ko.validation.rules.pattern.message = 'Invalid.';
        ko.validation.init(knockoutValidationConfig, true);

        // View Model
        var viewModel = function () {
            self = this;
            @FormHelper.InputTextScript(nameInput)
            @FormHelper.InputTextScript(shortNameInput)
            @FormHelper.InputNumberScript(unitInput)
            @FormHelper.CheckboxScript(isDecimalInputList)
            @FormHelper.InputTextScript(descriptionInput)
            @Html.Raw(FormHelper.DropdownScript(typeInput, FormHelper.GetMeasurementList()));

            self.submit = function () {
                var isValid = viewModel.errors().length === 0;

                if (isValid) {
                    var measurement = {};
                    measurement.Name = self.name();
                    measurement.ShortName = self.shortname();
                    measurement.Type = self.type()[self.typeSelectedIndex()].Value;
                    measurement.Unit = self.unit();
                    measurement.IsDecimal = self.IsDecimal()
                    measurement.Description = self.description();

                    saveAjax(baseUrl, "/api/measurement/create", measurement, "/Measurement");
                }
                else {
                    viewModel.errors.showAllMessages();
                }
            }
        };

        var viewModelObj = new viewModel();
        viewModel.errors = ko.validation.group(viewModelObj);
        ko.applyBindings(viewModelObj);
    });

</script>

