﻿@using AIS.Backend.Web.Helper;
@using AIS.Backend.Model;
@using AIS.Backend.Web.Controllers.KnockoutBuilder;
@using AIS.Backend.Web.Controllers;

@{
    ViewBag.Title = "Update Measurement";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@model AIS.Backend.Model.Measurement

@section PageTitle
{
    Update Measurement
}

@{
    List<KnockoutInput> componentList = new List<KnockoutInput>();

    string modelType = Model.Type != null ? Model.Type.ToString() : "";
    
    KnockoutInput nameInput = new KnockoutInput() { Caption = "Name", Binding = "name", Type = KnockoutType.TEXT, Value = Model.Name, ValidationSetting = "{required:true}" };
    KnockoutInput typeInput = new KnockoutInput() { Caption = "Type", Binding = "type", Type = KnockoutType.DROPDOWN, Value = modelType, ValidationSetting = "{required:true}" };
    KnockoutInput shortNameInput = new KnockoutInput() { Caption = "Short Name", Binding = "shortname", Type = KnockoutType.TEXT, Value = Model.ShortName, ValidationSetting = "{required:true}" };
    KnockoutInput unitInput = new KnockoutInput() { Caption = "Unit", Binding = "unit", Type = KnockoutType.NUMBER_TEXT, DecimalValue = Model.Unit.Value };
    KnockoutInput descriptionInput = new KnockoutInput() { Caption = "Description", Binding = "description", Type = KnockoutType.TEXT, Value = Model.Description };

    List<KnockoutInput> isDecimalInputList = new List<KnockoutInput>();
    isDecimalInputList.Add(new KnockoutInput() { Caption = "Is Decimal", Binding = "IsDecimal", Type = KnockoutType.CHECKBOX, BooleanValue=Model.IsDecimal });

    List<KnockoutInput> isActiveInputList = new List<KnockoutInput>();
    isActiveInputList.Add(new KnockoutInput() { Caption = "Is Active", Binding = "IsActive", Type = KnockoutType.CHECKBOX, BooleanValue = Model.IsActive });
}
<form id="formCreateMeasurement" class="form-horizontal">
    @FormHelper.InputTextHelper(nameInput)
    @FormHelper.InputTextHelper(shortNameInput)
    @FormHelper.DropdownHelper(typeInput)
    @FormHelper.InputNumberHelper(unitInput)
    @FormHelper.CheckboxHelper("Is Decimal", isDecimalInputList)
    @FormHelper.InputTextHelper(descriptionInput)
    @FormHelper.CheckboxHelper("Is Active", isActiveInputList)
    @FormHelper.SubmitHelper("self.submit")
</form>

<script>
    $(document).ready(function () {
        ko.validation.rules.pattern.message = 'Invalid.';
        ko.validation.init(knockoutValidationConfig, true);

        // View Model
        var viewModel = function () {
            self = this;
            @FormHelper.InputTextScript(nameInput)
            @FormHelper.InputTextScript(shortNameInput)
            @FormHelper.InputNumberScript(unitInput)
            @FormHelper.CheckboxScript(isDecimalInputList)
            @FormHelper.InputTextScript(descriptionInput)
            @Html.Raw(FormHelper.DropdownScript(typeInput, FormHelper.GetMeasurementList()));
            @FormHelper.CheckboxScript(isActiveInputList)

            self.submit = function () {
                var isValid = viewModel.errors().length === 0;

                if (isValid) {
                    var measurement = {};
                    measurement.Id = @Model.Id;
                    measurement.Name = self.name();
                    measurement.ShortName = self.shortname();
                    measurement.Type = self.type()[self.typeSelectedIndex()].Value;
                    measurement.Unit = self.unit();
                    measurement.IsDecimal = self.IsDecimal()
                    measurement.IsActive = self.IsActive()
                    measurement.Description = self.description();

                    saveAjax(baseUrl, "/api/measurement/update", measurement, "/Measurement");
                }
                else {
                    viewModel.errors.showAllMessages();
                }
            }
        };

        var viewModelObj = new viewModel();
        viewModel.errors = ko.validation.group(viewModelObj);
        ko.applyBindings(viewModelObj);
    });

</script>

