﻿@using AIS.Backend.Web.Helper;
@using AIS.Backend.Model;
@using AIS.Backend.Web.Controllers.KnockoutBuilder;
@using AIS.Backend.Web.Controllers;

@{
    ViewBag.Title = "Create Department";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@model AIS.Backend.Model.Department


@section PageTitle
{
    Create Department
}

@{
    List<KnockoutInput> componentList = new List<KnockoutInput>();

    KnockoutInput nameInput = new KnockoutInput() { Caption = "Name", Binding = "name", Type = KnockoutType.TEXT, Value = "", ValidationSetting = "{required:true}" };
}
<form id="formCreateMeasurement" class="form-horizontal">
    @FormHelper.InputTextHelper(nameInput)
    @FormHelper.SubmitHelper("self.submit")
</form>

<script>
    $(document).ready(function () {
        ko.validation.rules.pattern.message = 'Invalid.';
        ko.validation.init(knockoutValidationConfig, true);

        // View Model
        var viewModel = function () {
            self = this;
            @FormHelper.InputTextScript(nameInput)

            self.submit = function () {
                var isValid = viewModel.errors().length === 0;

                if (isValid) {
                    var department = {};
                    department.Name = self.name();

                    saveAjax(baseUrl, "/api/department/create", department, "/Department");
                }
                else {
                    viewModel.errors.showAllMessages();
                }
            }
        };

        var viewModelObj = new viewModel();
        viewModel.errors = ko.validation.group(viewModelObj);
        ko.applyBindings(viewModelObj);
    });

</script>

