﻿@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@using System.Linq.Expressions;
@using AIS.Backend.Web.Controllers.KnockoutBuilder;
@using Newtonsoft.Json;
@using AIS.Backend.Model;

@helper HelperName(string name) {
    // your helper can contain code and/or markup, e.g.
    // var msg = "Hello " + name;
    // <p>@msg</p>
    // For more information, visit http://go.microsoft.com/fwlink/?LinkID=204658
}

@helper InputTextHelper(KnockoutInput input)
{
    String bind = input.Binding;
    String caption = input.Caption;
    String className = input.ClassName;
    <div class="form-group">
        <label for="#@bind" class="col-sm-3 control-label">@caption</label>
        <div class="col-sm-9">
            <input id="@input.Binding" type="text" 
                   data-bind="jqxInput: {width: textInputWidth, height: textInputHeight, value: @bind}" />
            <div class="errorMessage" data-bind="validationMessage: @bind"></div>
        </div>
    </div>
}

@helper InputNumberHelper(KnockoutInput input)
{
    String bind = input.Binding;
    String caption = input.Caption;
    String className = input.ClassName;
    String setting = input.Setting;    
    <div class="form-group">
        <label for="#@bind" class="col-sm-3 control-label">@caption</label>
        <div class="col-sm-9">
            <div id="@input.Binding" data-bind="jqxNumberInput: {width: textInputWidth, height: textInputHeight, value: @bind @setting}"></div>
            <div class="errorMessage" data-bind="validationMessage: @bind"></div>
        </div>
    </div>
}

@helper DateHelper(KnockoutInput input)
{
    String bind = input.Binding;
    String caption = input.Caption;
    String className = input.ClassName;
    String setting = input.Setting;
    <div class="form-group">
        <label for="#@bind" class="col-sm-3 control-label">@caption</label>
        <div class="col-sm-9">
            <div id="@input.Binding" data-bind="jqxDateTimeInput: {width: textInputWidth, height: textInputHeight, value: @bind}"></div>
            <div class="errorMessage" data-bind="validationMessage: @bind"></div>
        </div>
    </div>
}

@helper DropdownHelper(KnockoutInput input) 
{
    String bind = input.Binding;
    String caption = input.Caption;
    String selectedIndex = bind + "SelectedIndex";
    <div class="form-group">
        <label for="#@bind" class="col-sm-3 control-label">@caption</label>
        <div class="col-sm-9">
            <div id="@input.Binding" data-bind="jqxDropDownList: {source: @bind, displayMember: 'Label', valueMember : 'Value',width: textInputWidth, height: textInputHeight, selectedIndex: @selectedIndex }">
            </div>
            <div class="errorMessage" data-bind="validationMessage: @selectedIndex"></div>
        </div>
    </div>
}

@helper ComboHelper(KnockoutInput input)
{
    String bind = input.Binding;
    String caption = input.Caption;
    String selectedIndex = bind + "SelectedIndex";
    <div class="form-group">
        <label for="#@bind" class="col-sm-3 control-label">@caption</label>
        <div class="col-sm-9">
            <div id="@input.Binding" data-bind="jqxComboBox: {source: @bind, displayMember: 'Label', valueMember : 'Value',width: textInputWidth, height: textInputHeight, selectedIndex: @selectedIndex }">
            </div>
            <div class="errorMessage" data-bind="validationMessage: @selectedIndex"></div>
        </div>
    </div>
}

@helper ListBoxHelper(KnockoutInput input)
{
    String bind = input.Binding;
    String caption = input.Caption;
    String selectedIndex = bind + "SelectedIndex";
    <div class="form-group">
        <label for="#@bind" class="col-sm-3 control-label">@caption</label>
        <div class="col-sm-9">
            <div id="@input.Binding" data-bind="jqxListBox: {source: @bind, displayMember: 'Label', valueMember : 'Value',width: textInputWidth, selectedIndex: @selectedIndex }">
            </div>
            <div class="errorMessage" data-bind="validationMessage: @selectedIndex"></div>
        </div>
    </div>
}

@helper CheckboxHelper(String caption, List<KnockoutInput> list)
{
    <div class="form-group">
        <label class="col-sm-3 control-label">@caption</label>
        <div class="col-sm-9">
            @foreach (KnockoutInput input in list)
            {
                <div data-bind="jqxCheckBox: {checked: @input.Binding, height: textInputHeight}">@input.Caption</div>
            }
        </div>
    </div>
}

@helper ButtonHelper(KnockoutInput input) {
    <button data-bind="click: @input.Binding,jqxButton: {height: buttonHeight}" class="@input.ClassName">@input.Caption</button>
}

@helper SubmitHelper(String bind)
{
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button data-bind="click: @bind,jqxButton: {}">Submit</button>
            <button data-bind="jqxButton: {}">Cancel</button>
        </div>
    </div>
}

@helper InputTextScript(KnockoutInput ko) { 
    @:self.@ko.Binding = ko.observable("@ko.Value").extend(@ko.ValidationSetting);
}

@helper InputNumberScript(KnockoutInput ko)
{
    @:self.@ko.Binding = ko.observable(@ko.DecimalValue).extend(@ko.ValidationSetting);
}

@helper CheckboxScript(List<KnockoutInput> list)
{
    foreach (KnockoutInput input in list)
    {
        var value = input.BooleanValue == true ? "true" : "false";
        @:self.@input.Binding = ko.observable(@value);
    }
}

@functions
{
    public static String DropdownScript(KnockoutInput input,List<DropdownValue> list) {
        return FormHelper.GetDropdownJsonFromDict(input, list);
    }

    public static String ListBoxScript(KnockoutInput input, List<DropdownValue> list)
    {
        return FormHelper.GetDropdownJsonFromDict(input, list);
    }
    
    public static List<DropdownValue> GetMeasurementList()
    {
        List<DropdownValue> ret = new List<DropdownValue>();
        ret.Add(new DropdownValue() { Value = "STOCK", Label = "Stock" });
        ret.Add(new DropdownValue() { Value = "CALCULATION", Label = "Calculation" });
        ret.Add(new DropdownValue() { Value = "PURCHASE", Label = "Purchase" });
        return ret;
    }

    public static List<DropdownValue> ConvertToDropdownValueList<T>(ICollection<T> src)
        where T : NameableEntity
    {
        List<DropdownValue> ret = new List<DropdownValue>();
        if (src != null)
        {
            foreach (T entity in src)
            {
                ret.Add(new DropdownValue() { Value = entity.Id.ToString(), Label = entity.Name });
            }
        }
        return ret;
    }

    public static string GetDropdownJsonFromDict(KnockoutInput input, List<DropdownValue> src)
    {
        int selected = -1;
        if(src!=null)
        {
            int i=0;
            foreach(DropdownValue dropdown in src)
            {
                if (dropdown.Value == input.Value)
                {
                    selected = i;
                    break;
                }
                i++;
            }
        }
        string json = JsonConvert.SerializeObject(src, Formatting.Indented);
        string ret = "self." + input.Binding + "= ko.observableArray(" + json + ");";
        ret += "self." + input.Binding + "SelectedIndex=ko.observable().extend("+input.ValidationSetting+");";
        if (selected > -1)
        {
            ret += "self." + input.Binding + "SelectedIndex("+selected+");";
        }
        return ret;
    }

    public static string GetKoObservableArray(String arrayName,List<DropdownValue> src)
    {
        string json = JsonConvert.SerializeObject(src, Formatting.Indented);
        string ret = "self." + arrayName + "= ko.observableArray(" + json + ");";

        return ret;
    }
    
}

@functions
{
    public static HelperResult DoSomething<TModel, TItem>(HtmlHelper<TModel> html, Expression<Func<TModel, TItem>> expr)
    {
        return TheThingToDo(html.LabelFor(expr), html.EditorFor(expr), html.ValidationMessageFor(expr));
    }
}

@helper TheThingToDo(MvcHtmlString label, MvcHtmlString textbox, MvcHtmlString validationMessage)
{
    <p>
        @label
        <br />
        @textbox
        @validationMessage
    </p>
}