﻿@using AIS.Backend.Web.Helper;
@using AIS.Backend.Model;
@using AIS.Backend.Web.Controllers.KnockoutBuilder;
@using AIS.Backend.Web.Controllers;

@{
    ViewBag.Title = "Update Item Category";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@model AIS.Backend.Model.ItemCategory

@section PageTitle
{
    Update Item Category
}

@{
    List<KnockoutInput> componentList = new List<KnockoutInput>();

    KnockoutInput nameInput = new KnockoutInput() { Caption = "Name", Binding = "name", Type = KnockoutType.TEXT, Value = Model.Name, ValidationSetting = "{required:true}" };

    List<KnockoutInput> isActiveInputList = new List<KnockoutInput>();
    isActiveInputList.Add(new KnockoutInput() { Caption = "Is Active", Binding = "IsActive", Type = KnockoutType.CHECKBOX, BooleanValue = Model.IsActive });
}
<form id="formCreateMeasurement" class="form-horizontal">
    @FormHelper.InputTextHelper(nameInput)
    @FormHelper.CheckboxHelper("Is Active", isActiveInputList)
    @FormHelper.SubmitHelper("self.submit")
</form>

<script>
    $(document).ready(function () {
        ko.validation.rules.pattern.message = 'Invalid.';
        ko.validation.init(knockoutValidationConfig, true);

        // View Model
        var viewModel = function () {
            self = this;
            @FormHelper.InputTextScript(nameInput)
            @FormHelper.CheckboxScript(isActiveInputList)

            self.submit = function () {
                var isValid = viewModel.errors().length === 0;

                if (isValid) {
                    var itemCategory = {};
                    itemCategory.Id = @Model.Id;
                    itemCategory.Name = self.name();
                    itemCategory.IsActive = self.IsActive()

                    saveAjax(baseUrl, "/api/itemcategory/update", itemCategory, "/ItemCategory");
                }
                else {
                    viewModel.errors.showAllMessages();
                }
            }
        };

        var viewModelObj = new viewModel();
        viewModel.errors = ko.validation.group(viewModelObj);
        ko.applyBindings(viewModelObj);
    });

</script>

