﻿@using AIS.Backend.Web.Helper;
@using AIS.Backend.Model;
@using AIS.Backend.Web.Controllers.KnockoutBuilder;
@using AIS.Backend.Web.Controllers;

@{
    ViewBag.Title = "Create Purchase";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@model AIS.Backend.Model.Purchase


@section PageTitle
{
    Create Purchase
}

@{

    List<Warehouse> warehouses = ViewBag.warehouses;
    List<Item> items = ViewBag.items;
    List<Measurement> purchaseMeasurements = ViewBag.purchaseMeasurements;
    List<Supplier> suppliers = ViewBag.suppliers;
    List<Department> departments = ViewBag.departments;

    List<KnockoutInput> componentList = new List<KnockoutInput>();

    KnockoutInput addRowButton = new KnockoutInput() { Caption = "+", Binding = "addRow", Type = KnockoutType.BUTTON };
    
    KnockoutInput warehouseInput = new KnockoutInput() { Caption = "Warehouse", Binding = "warehouse", Type = KnockoutType.COMBO, Value = "", ValidationSetting = "{required:true}" };
    KnockoutInput supplierInput = new KnockoutInput() { Caption = "Supplier", Binding = "supplier", Type = KnockoutType.COMBO, Value = "", ValidationSetting = "{required:true}" };
    KnockoutInput departmentInput = new KnockoutInput() { Caption = "Department", Binding = "department", Type = KnockoutType.COMBO, Value = "", ValidationSetting = "{required:true}" };
    
    KnockoutInput orderNumberInput = new KnockoutInput() { Caption = "Order #", Binding = "orderNumber", Type = KnockoutType.TEXT, Value = "", ValidationSetting = "{required:true}" };
    KnockoutInput orderDateInput = new KnockoutInput() { Caption = "Order Date", Binding = "orderDate", Type = KnockoutType.DATE, Value = "", ValidationSetting = "{required:true}" };
    KnockoutInput deliveryDateInput = new KnockoutInput() { Caption = "Delivery Date", Binding = "deliveryDate", Type = KnockoutType.DATE, Value = "", ValidationSetting = "{required:true}" };

    KnockoutInput freightInput = new KnockoutInput() { Caption = "Freight", Binding = "freight", Type = KnockoutType.NUMBER_TEXT, Value = "", ValidationSetting = "{required:true}" };
    KnockoutInput grandTotalInput = new KnockoutInput() { Caption = "Grand Total", Binding = "grandTotal", Type = KnockoutType.NUMBER_TEXT, Value = "", ValidationSetting = "{required:true}", Setting= ", readOnly: true" };
    
    KnockoutInput submit = new KnockoutInput() { Caption = "Submit", Binding = "submit", Type = KnockoutType.BUTTON };
}
<script>
    var columnQuantityInputWidth = "50px";
</script>

<div class="row">
    <div class="col-sm-6">
        <form class="form-horizontal">
            @FormHelper.ComboHelper(supplierInput)
            @FormHelper.ComboHelper(warehouseInput)
            @FormHelper.ComboHelper(departmentInput)
        </form>
    </div>
    <div class="col-sm-6">
        <form class="form-horizontal">
            @FormHelper.InputTextHelper(orderNumberInput)
            @FormHelper.DateHelper(orderDateInput)
            @FormHelper.DateHelper(deliveryDateInput)
        </form>
    </div>
</div>

<div class="row">
    @FormHelper.ButtonHelper(addRowButton)
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Item</th>
                <th>UOM</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Tax</th>
                <th>Sub Total</th>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach: orderDetailsList -->
            <tr>
                <td>
                    <div data-bind="jqxComboBox: {source: itemSource, displayMember: 'Label', valueMember : 'Value', height: textInputHeight, selectedIndex: itemSelected }">
                    </div>
                </td>
                <td>
                    <div data-bind="jqxComboBox: {source: measurementSource, displayMember: 'Label', valueMember : 'Value', height: textInputHeight, selectedIndex: measurementSelected }">
                    </div>
                </td>
                <td>
                    <div data-bind="jqxNumberInput: {value: quantity, digits: 3, height: textInputHeight, width: columnQuantityInputWidth}"></div>
                </td>
                <td>
                    <div data-bind="jqxNumberInput: {value: price, digits: 9, height: textInputHeight, width: 120}"></div>
                </td>
                <td>
                    <div data-bind="jqxNumberInput: {value: discount, digits: 3, height: textInputHeight, width: columnQuantityInputWidth}"></div>
                </td>
                <td>
                    <div data-bind="jqxNumberInput: {value: tax, digits: 3, height: textInputHeight, width: columnQuantityInputWidth}"></div>
                </td>
                <td>
                    <div data-bind="jqxNumberInput: {value: subTotal, digits: 9, height: textInputHeight, width: 120, readOnly:true}"></div>
                </td>
            </tr>
            <!-- /ko -->
        </tbody>
    </table>
</div>


<div class="row">
    <div class="col-sm-6">
    </div>
    <div class="col-sm-6">
        <form class="form-horizontal">
            @FormHelper.InputNumberHelper(freightInput)
            @FormHelper.InputNumberHelper(grandTotalInput)
            @FormHelper.ButtonHelper(submit)
        </form>
    </div>
</div>

<script>

    function createDefaultRow()
    {
        var quantity = ko.observable(0);
        var price = ko.observable(0);
        var discount = ko.observable(0);
        var tax = ko.observable(0);

        var defaultRow = {
            itemSource: self.itemList,
            itemSelected: ko.observable(),
            measurementSource: self.purchaseMeasurementList,
            measurementSelected: ko.observable(),
            quantity: quantity,
            price: price,
            discount: discount,
            tax: tax,
            subTotal: ko.pureComputed(function () {
                var total = quantity() * price();
                var disc = total * (discount() / 100.00);
                total -= disc;
                var taxTotal = total * (tax() / 100.00);
                total += taxTotal;
                return total;
            }).extend({ notify: 'always' })
        };

        return defaultRow;
    }

    function GetOrderDetailsObject(row)
    {
        var orderDetails = {};

        var item = {};
        var measurement = {};

        if (row.itemSelected() != null)
        {
            item.Id = row.itemSource()[row.itemSelected()].Value;
            orderDetails.Item = item;
        }

        if (row.measurementSelected() != null) {
            measurement.Id = row.measurementSource()[row.measurementSelected()].Value;
            orderDetails.PurchaseMeasurement = measurement;
        }

        orderDetails.Quantity = row.quantity();
        orderDetails.Price = row.price();
        orderDetails.DiscountPercent = row.discount();
        orderDetails.TaxPercent = row.tax();
        orderDetails.TotalPrice = row.subTotal();

        return orderDetails;
    }

    $(document).ready(function () {
        ko.validation.rules.pattern.message = 'Invalid.';
        ko.validation.init(knockoutValidationConfig, true);

        // View Model
        var viewModel = function () {
            self = this;
            @FormHelper.InputTextScript(orderNumberInput)
            @FormHelper.InputTextScript(orderDateInput)
            @FormHelper.InputTextScript(deliveryDateInput)

            @FormHelper.InputNumberScript(freightInput)

            @Html.Raw(FormHelper.DropdownScript(supplierInput, FormHelper.ConvertToDropdownValueList(suppliers)))
            @Html.Raw(FormHelper.DropdownScript(warehouseInput, FormHelper.ConvertToDropdownValueList(warehouses)))
            @Html.Raw(FormHelper.DropdownScript(departmentInput, FormHelper.ConvertToDropdownValueList(departments)))
            @Html.Raw(FormHelper.GetKoObservableArray("itemList",FormHelper.ConvertToDropdownValueList(items)))
            @Html.Raw(FormHelper.GetKoObservableArray("purchaseMeasurementList",FormHelper.ConvertToDropdownValueList(purchaseMeasurements)))

            var defaultOrderDetailList = [
                createDefaultRow(), createDefaultRow(), createDefaultRow(), createDefaultRow(), createDefaultRow()
            ];

            self.orderDetailsList = ko.observableArray(defaultOrderDetailList);

            self.grandTotal = ko.pureComputed(function () {
                var total = 0;
                for (var i = 0; i < self.orderDetailsList().length ; i++) {
                    var row = self.orderDetailsList()[i];
                    var subTotal = row.quantity() * row.price();
                    var disc = subTotal * (row.discount() / 100.00);
                    subTotal -= disc;
                    var taxTotal = subTotal * (row.tax() / 100.00);
                    subTotal += taxTotal;
                    
                    total += subTotal;
                }
                total += self.freight();
                return total;
            }).extend({ notify: 'always' })

            self.addRow = function () {
                self.orderDetailsList.push(createDefaultRow());
            }

            self.submit = function () {
                var isValid = viewModel.errors().length === 0;

                if (isValid) {
                    var purchase = {};
                    var arrOrderDetails = new Array();

                    for (var i = 0; i < self.orderDetailsList().length ; i++)
                    {
                        var row = self.orderDetailsList()[i];
                        if(
                            row.itemSelected() != null &&
                            row.measurementSelected() != null
                            )
                        {
                            arrOrderDetails[i] = GetOrderDetailsObject(row);
                        }
                    }

                    var supplier = {};
                    supplier.Id = self.supplier()[self.supplierSelectedIndex()].Value;

                    var warehouse = {};
                    warehouse.Id = self.warehouse()[self.warehouseSelectedIndex()].Value;

                    var department = {}
                    department.Id = self.department()[self.departmentSelectedIndex()].Value;

                    purchase.No = self.orderNumber();
                    purchase.Supplier = supplier;
                    purchase.Warehouse = warehouse;
                    purchase.RequestorDepartment = department;
                    purchase.Date = self.orderDate();
                    purchase.DeliveryDate = self.deliveryDate();
                    purchase.Freight = self.freight();
                    purchase.OrderDetailList = arrOrderDetails;

                    console.log(purchase);
                    saveAjax(baseUrl, "/api/purchase/create", purchase, "/Purchase");
                }
                else {
                    viewModel.errors.showAllMessages();
                }
            }

        };

        var viewModelObj = new viewModel();
        viewModel.errors = ko.validation.group(viewModelObj);
        ko.applyBindings(viewModelObj);
    });

</script>

